<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (user) {
      <div>
        <h2>
          <span jhiTranslate="userManagement.detail.title">用户</span> [<strong>{{ user.login }}</strong
          >]
        </h2>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="userManagement.login">登录</span></dt>
          <dd>
            <span>{{ user.login }}</span>
            @if (user.activated) {
              <span class="badge bg-success" jhiTranslate="userManagement.activated">已激活</span>
            } @else {
              <span class="badge bg-danger" jhiTranslate="userManagement.deactivated">失效</span>
            }
          </dd>

          <dt><span jhiTranslate="userManagement.firstName">名字</span></dt>
          <dd>{{ user.firstName }}</dd>

          <dt><span jhiTranslate="userManagement.lastName">姓氏</span></dt>
          <dd>{{ user.lastName }}</dd>

          <dt><span jhiTranslate="userManagement.email">邮箱</span></dt>
          <dd>{{ user.email }}</dd>

          <dt><span jhiTranslate="userManagement.langKey">语言</span></dt>
          <dd>{{ user.langKey }}</dd>

          <dt><span jhiTranslate="userManagement.createdBy">创建人</span></dt>
          <dd>{{ user.createdBy }}</dd>

          <dt><span jhiTranslate="userManagement.createdDate">创建时间</span></dt>
          <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span jhiTranslate="userManagement.lastModifiedBy">最近修改人</span></dt>
          <dd>{{ user.lastModifiedBy }}</dd>

          <dt><span jhiTranslate="userManagement.lastModifiedDate">最近修改时间</span></dt>
          <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

          <dt><span jhiTranslate="userManagement.profiles">角色</span></dt>
          <dd>
            <ul class="list-unstyled">
              @for (authority of user.authorities; track $index) {
                <li>
                  <span class="badge bg-info">{{ authority }}</span>
                </li>
              }
            </ul>
          </dd>
        </dl>

        <button type="submit" routerLink="../../" class="btn btn-info">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">返回</span>
        </button>
      </div>
    }
  </div>
</div>
