<div>
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <h1 jhiTranslate="reset.request.title">重置您的密码</h1>

      <jhi-alert-error></jhi-alert-error>

      @if (!success) {
        <div class="alert alert-warning">
          <span jhiTranslate="reset.request.messages.info">请输入您注册时使用的邮件地址</span>
        </div>
      } @else {
        <div class="alert alert-success">
          <span jhiTranslate="reset.request.messages.success">已将重置密码的操作说明发送到您的邮箱，请检查邮件.</span>
        </div>
      }

      @if (!success) {
        <form name="form" role="form" (ngSubmit)="requestReset()" [formGroup]="resetRequestForm">
          <div class="mb-3">
            <label class="form-label" for="email" jhiTranslate="global.form.email.label">电子邮件</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              placeholder="{{ 'global.form.email.placeholder' | translate }}"
              formControlName="email"
              data-cy="emailResetPassword"
              #email
            />

            @if (
              resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)
            ) {
              <div>
                @if (resetRequestForm.get('email')?.errors?.required) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.required">您的电子邮件是必填项.</small>
                }
                @if (resetRequestForm.get('email')?.errors?.email) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.invalid"
                    >您的电子邮件格式格式不正确.</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.minlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.minlength"
                    >您的电子邮件长度至少要有5个字符</small
                  >
                }

                @if (resetRequestForm.get('email')?.errors?.maxlength) {
                  <small class="form-text text-danger" jhiTranslate="global.messages.validate.email.maxlength"
                    >您的电子邮件长度不能超过50个字符</small
                  >
                }
              </div>
            }
          </div>

          <button
            type="submit"
            [disabled]="resetRequestForm.invalid"
            class="btn btn-primary"
            jhiTranslate="reset.request.form.button"
            data-cy="submit"
          >
            重置密码
          </button>
        </form>
      }
    </div>
  </div>
</div>
